body {
  font-family: 'Advent Sans';
  text-align: center;
  background-color: whitesmoke;
  color: #40514e;
  margin: 0;
}

.top {
  background-color: #eaf6f6;
}

.bottom {
  margin: 100px 0;
}

.bio {
  width: 30%;
  margin: auto;
}

h1 {
  font-size: 9.5em;
  font-family: 'French Script MT', sans-serif;
  margin: 50px auto 0 auto;
  color: #66bfbf;
  line-height: 1;
}

h2 {
  color: #125252;
  font-family: 'Fira Code', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: 'Advent Sans', sans-serif;
}

p {
  color: #40514e;
  line-height: 2;
}

.heading,
h1 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.heading {
  padding: 20px;
  height: 450px;
}

.climate {
  display: inline-block;
}

.top-cloud {
  width: 300px;
  position: relative;
  left: 200px;
}

.bottom-cloud {
  width: 300px;
  position: absolute;
  left: 30px;
  top: 400px;
}

.mountain {
  width: 400px;
  height: 200px;
  border-radius: 30%;
}

.jesse {
  width: 30%;
  height: 80%;
  border-radius: 100%;
}

.web_dev {
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  padding-right: 30px;
}

.react {
  width: 25%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
  padding-left: 30px;
}

.skills-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

form {
  position: absolute;
  text-align: left;
  margin: 10px;
  padding: 5px;
}
footer {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #66bfbf;
  height: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px 0 20px;
}

hr {
  border-color: rgb(237, 218, 218);
  border-style: dotted none none none;
  border-width: 5px;
  width: 10%;
  margin: 100px auto 100px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Fira Code', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.link {
  color: #11999e;
  text-decoration: none;
  font-family: 'Fira Code', sans-serif;
  margin: 10px 20px;
  cursor: pointer;
}

.link:hover {
  color: #eaf6f6;
}

.foot {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
